git+https://github.com/eternnoir/pyTelegramBotAPI.git 
pytz==2023.3
git+https://github.com/davideduardotech/iqoptionapi.git 
colorama==0.4.6
pandas==2.0.3
numpy==1.26.0
git+https://github.com/matplotlib/mplfinance.git 
python-dotenv==1.0.0